@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* > *{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-style: normal;
}

body{
    background: #dcdce6;
    background-image: url(./assets/Background.png);
}